{% load cache %}
{% load static %}
{% load course %}
{% url 'course_list' as course_list %}
{% url 'home' as home_url %}
{% url 'sub_list' as subject_url %}
{% url 'manage_course_list' as mine %}
{% url 'student_course_list' as std %}
{% url 'course_create' as create_url %}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    
    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />
    
    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">
    
    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
    
    <!-- PAGE TITLE HERE ============================================= -->
    <title>Edutor : Learn at your pace</title>
    
    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/assets.css' %}">
    
    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">
    
    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes/shortcodes.css' %}">
    
    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}">
    
    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/navigation.css' %}">
    <!-- REVOLUTION SLIDER END -->  
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
    <!-- Header Top ==== -->
    <header class="header rs-nav header-transparent">

        <div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
                    <!-- Header Logo ==== -->
                    <div class="menu-logo">
                        <a href="{{ home_url }}"><img src="{% static 'images/logo-white.png' %}" alt=""></a>
                    </div>
                    <!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- Author Nav ==== -->
                   
                    
                    <!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                        <div class="menu-logo">
                            <a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
                        </div>
                        <ul class="nav navbar-nav"> 
                            <li ><a href="{{ home_url }}">Home </a></li>
                            <li><a href="javascript:;">About</a></li>

                            <li class="active"><a href="">Courses<i class="{% if user.is_authenticated %} fa fa-chevron-down {% endif %}"></i></a>
                                {% if user.is_authenticated %}
                                <ul class="sub-menu">

                                {% if request.user|has_group:"Instructors" %}

                                 <li class="{% if request.path == mine %}active{% endif %}">
                                   <a href="{{mine}}">My Courses</a>
                                 </li>
                                 <li class="{% if request.path == create_url %}active{% endif %}">
                                   <a href="{{create_url}}">Create Course</a>
                                 </li>
                                 {% else %}
                                 <li class="{% if request.path == std %}active{% endif %}">
                                   <a href="{{ course_list }}">All Courses</a>
                                 </li>
                                 <li class="{% if request.path == std %}active{% endif %}">
                                   <a href="{{std}}">Enrolled Courses</a>
                                 </li>
                                 {% endif %}
                            </ul>
                                {% endif %}
                            </li>
                            {% if user.is_authenticated %}
                            <li><a href="#">{{user.username }} <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'password_change' %}">Change password</a></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                                </ul>
                            </li>

                            {% else %}
                            <li><a href="{% url 'login' %}">Sign In </a></li>
                            <li><a href="{% url 'student_registration' %}">Sign Up </a></li>
                            {% endif %}
                            </div>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- Header Top END ==== -->
     <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url('{% static 'images/banner/banner3.jpg' %}');">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">My Courses</h1>
                 </div>
            </div>
        </div>
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="{{ home }}">Home</a></li>
                    <li><a href="{{std}}">Enrolled Courses</li>
                    <li>{{ object.title }}</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->

<div class="content-block">
        <div class="section-area section-sp1">
                <div class="container">
                     <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                            <div class="widget widget_archive">
                                 
                                <h5 class="widget-title style-1" > Modules:</h5>
                                
                                <ul id="modules">
                                    {% for m in object.modules.all %}
                                    <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
                                            <a href="{% url 'student_course_detail_module' object.id m.id %}"><span>
                                            Module <span class="order">{{ m.order|add:1 }}:</span></span>
                                            {{ m.title }}</a>
                                    </li>
                                    {% empty %}
                                       <li>No modules yet.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-8">
                            {% cache 600 module_contents module %}
                            {% for content in module.contents.all %}
                            {% with item=content.item %}
                            <h5 class="m-b5">{{ item.title }}</h5>
                             {{ item.render }}
                            {% endwith %}
                            {% endfor %}
                        </div>
        
    </div>
    </div>

                  {% endcache %}
                    </div>
                </div>
            </div>
      
<button class="back-to-top fa fa-chevron-up" ></button>
</div>

<!-- External JavaScripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'vendors/masonry/filter.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>

<!-- Revolution JavaScripts Files -->
<script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script>
jQuery(document).ready(function() {
    var ttrevapi;
    var tpj =jQuery;
    if(tpj("#rev_slider_486_1").revolution == undefined){
        revslider_showDoubleJqueryError("#rev_slider_486_1");
    }else{
        ttrevapi = tpj("#rev_slider_486_1").show().revolution({
            sliderType:"standard",
            jsFileLocation:"{% static 'vendors/revolution/js/",
            sliderLayout:"fullwidth",
            dottedOverlay:"none",
            delay:9000,
            navigation: {
                keyboardNavigation:"on",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                mouseScrollReverse:"default",
                onHoverStop:"on",
                touch:{
                    touchenabled:"on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                }
                ,
                arrows: {
                    style: "uranus",
                    enable: true,
                    hide_onmobile: false,
                    hide_onleave: false,
                    tmp: '',
                    left: {
                        h_align: "left",
                        v_align: "center",
                        h_offset: 10,
                        v_offset: 0
                    },
                    right: {
                        h_align: "right",
                        v_align: "center",
                        h_offset: 10,
                        v_offset: 0
                    }
                },
                
            },
            viewPort: {
                enable:true,
                outof:"pause",
                visible_area:"80%",
                presize:false
            },
            responsiveLevels:[1240,1024,778,480],
            visibilityLevels:[1240,1024,778,480],
            gridwidth:[1240,1024,778,480],
            gridheight:[768,600,600,600],
            lazyType:"none",
            parallax: {
                type:"scroll",
                origo:"enterpoint",
                speed:400,
                levels:[5,10,15,20,25,30,35,40,45,50,46,47,48,49,50,55],
                type:"scroll",
            },
            shadow:0,
            spinner:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            autoHeight:"off",
            hideThumbsOnMobile:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            debugMode:false,
            fallbacks: {
                simplifyAll:"off",
                nextSlideOnWindowFocus:"off",
                disableFocusListener:false,
            }
        });
    }
}); 
</script>
</body>

</html>
